<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="logado">
    <div class="menu">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">Eduplan</h1>
    </div>
    <div>
      <button mat-icon-button color="warn" (click)="sair()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="disciplina">Disciplina</a>
          <mat-menu #disciplina="matMenu" xPosition="after">
            <button mat-menu-item [routerLink]="['/novadisciplina']" routerLinkActive="router-link-active">Nova</button>
            <button mat-menu-item [routerLink]="['/listadisciplinas']" routerLinkActive="router-link-active">Lista</button>
          </mat-menu>
        </div>

        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="plano">Plano de Ensino</a>
          <mat-menu #plano="matMenu" xPosition="after">
            <button mat-menu-item [routerLink]="['/novoplano']" routerLinkActive="router-link-active">Novo</button>
            <button mat-menu-item [routerLink]="['/listaplanos']" routerLinkActive="router-link-active">Lista</button>
          </mat-menu>
        </div>

        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="usuario">Usuário</a>
          <mat-menu #usuario="matMenu" xPosition="after">
            <button mat-menu-item [routerLink]="['/novousuario']" routerLinkActive="router-link-active">Novo</button>
            <button mat-menu-item [routerLink]="['/listausuarios']" routerLinkActive="router-link-active">Lista</button>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>