<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="logado">
    <div class="menu">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1
        class="example-app-name"
        [routerLink]="['/dashboard']"
        style="cursor: pointer;"
      >
        Eduplan
      </h1>
    </div>
    <div>
      <button
        mat-icon-button
        color="warn"
        (click)="sair()"
        matTooltip="Sair do sistema"
      >
        <mat-icon style="font-size: 30px;">exit_to_app</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      mode="over"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="disciplina">
            <mat-icon>book</mat-icon>
            Disciplina
          </a>
          <mat-menu #disciplina="matMenu">
            <button
              mat-menu-item
              [routerLink]="['/nova-disciplina']"
              routerLinkActive="router-link-active"
              matTooltip="Criar nova disciplina"
              (click)="snav.toggle()"
            >
              <mat-icon>create</mat-icon>
              Nova
            </button>
            <button
              mat-menu-item
              [routerLink]="['/lista-disciplinas']"
              routerLinkActive="router-link-active"
              matTooltip="Listar disciplinas existentes"
              (click)="snav.toggle()"
            >
              <mat-icon>list</mat-icon>
              Lista
            </button>
          </mat-menu>
        </div>

        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="plano">
            <mat-icon>assignment_turned_in</mat-icon>
            Plano de Ensino
          </a>
          <mat-menu #plano="matMenu">
            <button
              mat-menu-item
              [routerLink]="['/novo-plano']"
              routerLinkActive="router-link-active"
              matTooltip="Criar novo plano de ensino"
              (click)="snav.toggle()"
            >
              <mat-icon>create</mat-icon>
              Novo
            </button>
            <button
              mat-menu-item
              [routerLink]="['/lista-planos']"
              routerLinkActive="router-link-active"
              matTooltip="Listar planos de ensino existentes"
              (click)="snav.toggle()"
            >
              <mat-icon>list</mat-icon>
              Lista
            </button>
          </mat-menu>
        </div>

        <div class="item">
          <a mat-list-item [matMenuTriggerFor]="usuario">
            <mat-icon>person</mat-icon>
            Usuário
          </a>
          <mat-menu #usuario="matMenu">
            <button
              mat-menu-item
              [routerLink]="['/novo-usuario']"
              routerLinkActive="router-link-active"
              matTooltip="Criar novo novo usuário"
              (click)="snav.toggle()"
            >
              <mat-icon>create</mat-icon>
              Novo
            </button>
            <button
              mat-menu-item
              [routerLink]="['/lista-usuarios']"
              routerLinkActive="router-link-active"
              matTooltip="Listar usuários existentes"
              (click)="snav.toggle()"
            >
              <mat-icon>list</mat-icon>
              Lista
            </button>
          </mat-menu>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
